{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-md">
    {% if notes.length > 0 %}
      <div class="row">
        {% for note in notes %}
          <div class="card me-3 mb-3" style="width: 30rem;">
            <h5 class="card-header">{{ note.title }}</h5>
            <h6>{{ note.text }}</h6>
            <h6>{{ note.author }}</h6>

            <div class="card-body">

              <p class="card-text">{{ note.author }}</p>
              <a href="/notes/{{note.id}}" class="btn btn-info btn-rounded">View {{ note.title }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="container-md">
      <h2>No Notes Available!</h2>
    </div>
  {% endif %}
{% endblock %}














  {%- comment -%}

{% layout 'layout.liquid' %}
{% block content %}
    {% if notes.length > 0 %}
        <div class="container-md">
            <h2>Notes Available</h2>
            <div class="row">
                {% for note in notes %}
                    <div class="card me-3 mb-3" style="width: 18rem;">
                        <h5 class="card-header">{{note.title}}</h5>
                        <div class="card-body">
                          
                            <a href="/notes/{{note.id}}" class="btn btn-info">View {{note.title}}</a>
                        </div>
                    </div>
                            {% endfor %}
            </div>
        </div>
        
    {% else %}
        <div class="container-md">
            <h2>No Notes Available</h2>
        </div>
    {% endif %}

{% endblock %}


        
  {%- endcomment -%}